.header{
  text-align: center;
}

.container{
  display: flex;
  flex-direction: row;
}

.container1{
  width: 25%;
  margin: 0 4px;
}

.container2{
  width: 25%;
  margin: 0 4px;
}

.container3{
  width: 25%;
  margin: 0 4px;
}

.container4{
  width: 25%;
  margin: 0 4px;
}

div img{
  width: 100%;
}

@media screen and (max-width: 580px) {
  .container{
      flex-direction: column;
  }
  .container div{
      width: 100%;
  }
}