* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.link {
  display: flex;
  background-color: #333;
}

.link a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.link a:hover {
  background-color: #ddd;
  color: black;
}

.row {  
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

@media screen and (max-width: 700px) {
  .row, .link {   
    flex-direction: column;
  }
}